.body404 {
  height: 100vh;
  background: -webkit-repeating-linear-gradient(
    -55deg,
    #71b7e6,
    #69a6ce,
    #b98acc,
    #ee8176,
    #b98acc,
    #69a6ce,
    #9b59b6
  );
  background-size: 100%;
}

#error-page {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

#error-page .content {
  max-width: 37.5em;
  text-align: center;
}

.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  position: relative;
  color: #9b59b6;
}

.content h4 {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 2em;
  max-width: 37.5em;
  position: relative;
}

.content p {
  padding: 20px;
	display: flex;
	justify-content: space-between;
	width: 100%;
  font-size: 1.2em;
  color: #69a6ce;
  font-family: 'Lobster', cursive;
}

.content .bottons a{
  display: inline-block;
  margin: 0 0.625em;
  text-decoration: none;
  border: 2px solid #69a6ce;
  color: #69a6ce;
  font-weight: 500;
  padding: 0.625em 1.5625em;
  border-radius: 1.5625em;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.content .bottons a:hover {
  background: #69a6ce;
  color: hsl(0, 0%, 100%);
}

/* MEDIAQUERIES*/
@media(max-width:1200px){
  .content h4{
    font-size: 1.5em;
  }
  .content p{
    font-size: 1em;
  }
}

/* @media(max-width:992px){
  
}
@media(max-width:768px){
}
@media(max-width:576px){
  
} */
