/* propiedades universales, le indicamos al navegador que maantenga el ancho y alto sin
 importar el relleno y la fuente para la interfaz*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
/* al cuerpo le damos el 100% de altura a la ventana que se muestre y creamos columnas 
con grid  */
body {
  min-height: 100vh;
  width: 110%;
  max-width: 100%;
}
.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.checkPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* medidas del banner */
.logoDestokp {
  display: flex;
}
#containFirst {
  display: flex;
  justify-content: center;
}
#containTwo {
  display: flex;
  justify-content: center;
}
/* medidas generales del div contenedor del login */
.loginContainer {
  max-width: 450px;
  padding: 14% 14% 30% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* diseño registro de cuenta */
#loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* diseño textos login */
.userPass {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: #4e4187;
  margin-bottom: 3%;
}
/* medidas inputs */
.form-input {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}
/* diseño inputs y botón */
input,
button {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
}
/* color y medidas inputs */
input {
  width: 100%;
  background: #e6e6e6;
  color: #333;
  padding: 14px 64px;
}
/* diseño botón login */
#btnLogin {
  color: #fff;
  padding: 14px 64px;
  margin: 20px auto;
  font-weight: bold;
  background: #e67ea8;
  border-radius: 10px;
}
/* ubicación y medidas logos facebook, gmail */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
/* color texto de registrate*/
.checkIn {
  color: #333;
}
.formRegister {
  width: 400px;
  border-style: solid;
  border-color: rgb(136, 120, 120);
  padding: 30px;
  margin-top: 10px;
}

.formRegister h4 {
  color: #4e4187;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.linea {
  margin-bottom: 10px;
}

label {
  color: #4e4187;
}
.controls {
  width: 100%;
  background: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid rgb(136, 120, 120);
  font-size: 12px;
}

.formRegister .botons {
  width: 50%;
  margin-left: 28%;
  background: #e67ea8;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: white;
  font-size: 16px;
}
#btnLoginTwo {
  color: #fff;
  padding: 11px 63px;
  margin-left: 13%;
  font-weight: bold;
  background: #e67ea8;
  border-radius: 10px;
  padding-top: 2%;
}
header {
  background-color: #3b99f7;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation ul {
  display: flex;
  margin-top: 19px;
  margin-bottom: 19px;
}
.navigation ul a {
  text-decoration: none;
  margin-top: 10px;
  color: white;
  margin-left: 10px;
}
.nameUser {
  display: flex;
  align-items: center;
  margin-left: 4%;
  color: white;
  font-size: larger;
}
.logoDestok {
  display: flex;
  margin-left: 39%;
  margin-right: 24%;
}
.logoDestok p {
  margin-top: 16%;
  margin-left: 10%;
  font-size: xx-large;
  color: white;
}
.imgBurger {
  display: none;
}
.imgClose {
  width: 17%;
}
.profile {
  width: 400px;
  height: 330px;
  background: #fff;
  margin-top: 5%;
  margin-left: 10%;
  box-shadow: 0px 1px 10px 1px #000;
  overflow: hidden;
}
.container {
  height: 200px;
  background: #3b99f7;
}

.camara {
  height: 50px;
  width: 50px;
  margin-top: 43%;
  margin-left: 85%;
}

.image-container img {
  margin-top: -5%;
  margin-left: 5%;
  width: 120px;
  height: 120px;
}

.lower-container {
  height: 280px;
  background: #fff;
  padding: 20px;
  padding-top: 38px;
  padding-left: 180px;
  text-align: center;
}
.lower-container h3,
h4 {
  font-weight: bold;
  color: #4e4187;
}
.username {
  grid-column-start: 2;
  padding: 18px 56px 35px 41px;
  border-style: groove;
  margin-top: 2%;
  margin-bottom: 14%;
  margin-right: 2%;
  border-radius: 20px;
}
#mypara {
  width: 627px;
  height: 79px;
  border-radius: 20px;
}
.post {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.imgbttn {
  margin-right: 84%;
  width: 6%;
}
#postmypost {
  color: #fff;
  padding: 9px 5px;
  font-weight: bold;
  background: #e67ea8;
  border-radius: 10px;
}
.mainpost {
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  padding: 0;
  box-shadow: 4px 1.5px 5px #999999;
  margin-bottom: 0;
}
.mainpost .publish {
  padding-left: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3b99f7;
}
.mainpost .time {
  padding-left: 8px;
  font-size: 12px;
  color: white;
}
.mainpost .quotes {
  margin: 12px 4px 8px 4px;
  font-size: 14px;
  font-family: sans-serif;
  text-align: justify;
  padding: 5px;
  border-bottom: 2px solid #000000;
}
.likedislike .like {
  font-size: 11px;
  font-family: Verdana;
  color: #999;
}
#user {
  color: white;
}
.main {
  display: flex;
  justify-content: space-between;
}
/* ---- @media queries   ----  */
@media (min-width: 320px) and (max-width: 768px) {
  body {
    max-width: 100%;
  }
  .checkPage {
    display: flex;
    justify-content: center;
  }
  .homePage {
    display: flex;
    justify-content: center;
  }
  .loginContainer {
    padding: 0% 0% 0% 0%;
  }
  #logoCheck {
    display: none;
  }
  .formRegister {
    width: 90%;
  }
  .btnLoginTwo {
    padding: 5px 54px;
    margin-left: 0%;
    display: flex;
    justify-content: center;
  }
  @media (max-width: 780px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logoDestokp {
      display: none;
    }
    .logoDestokpTwo img {
      display: none;
    }
  }
}
/* ---- vista 404   ----  */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.body404 {
  height: 100vh;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #71b7e6,
    #69a6ce,
    #b98acc,
    #ee8176,
    #b98acc,
    #69a6ce,
    #9b59b6
  );
  background-size: 400%;
}
#error-page {
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
#error-page .content {
  max-width: 600px;
  text-align: center;
}
.content h2.header {
  font-size: 18vw;
  line-height: 1em;
  position: relative;
  color: #9b59b6;
}
.content h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 2em;
  max-width: 600px;
  position: relative;
}
.content p {
  font-size: 1.2em;
  color: #0d0d0d;
}
.content .btns {
  margin: 25px 0;
  display: inline-flex;
}
.content .btns a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #69a6ce;
  color: #ee8176;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.content .btns a:hover {
  background: #69a6ce;
  color: #fff;
}
